/* Tamanho padrão do cartão e imagem */
.product-card {
    width: 290px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.image-container {    
    background-color: #fff;
    position: relative;
    width: 250px;
    height: 260px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(-18deg) translateX(-13px);
    transition: transform 0.3s ease;
}
.product-card:hover .image-container img {
    transform: scale(1.05) rotate(-18deg) translateX(-13px);
}

.product-price, .product-price-discount {
    padding-right: 10px;
    color: green;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: red;
}
.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;

}

@media (max-width: 1300px) {
    .product-card {
        width: 320px;
        height: 360;
        padding: 5px;
    }

    .product-card .image-container {
        width: 230px;
        height: 230px;
    }

    .product-card .image-container img {
        width: 100%;
        height: 100%;
    }

    .product-card .discount-badge {
        font-size: 12px;
        padding: 2px;
    }

    .product-card .price-container {
        gap: 1px;
    }
}

@media (max-width: 1000px) {
    .product-card {
        width: 240px;
        height: 310px;
        padding: 10px;
    }

    .product-card .image-container {
        width: 200px;
        height: 210px;
    }

    .product-card .image-container img {
        width: 100%;
        height: 100%;
    }

    .product-card .discount-badge {
        font-size: 10px;
        padding: 3px;
    }

    .product-card .price-container {
        gap: 5px;
    }
}




/* Ajuste responsivo para telas menores */
@media (max-width: 560px) {
    .product-card {
        width: 150px;
        height: 270px;
        padding: 5px;
    }

    .product-card .image-container {
        width: 163px;
        height: 180px;
    }

    .product-card .image-container img {
        width: 100%;
        height: 100%;
    }

    .product-card .discount-badge {
        font-size: 10px;
        padding: 3px;
    }

    .product-card .price-container {
        gap: 1px;
    }
}
