.thumbnail {
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}
.thumbnail:hover {
    border-color: #C92071;
    box-shadow: 0 4px 5px #C92071;
    transform: translateY(-5px);
}
.thumbnail.active {
    border-color: #C92071;
    box-shadow: 0 4px 5px #C92071;
    transform: translateY(-5px);
}
.gallery{
    max-width: 40rem;
}